/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 8, 2021, 6:59:40 PM
    Author     : Korisnik
*/
.nekimojstil{
    list-style-type:lower-greek;
    color: lawngreen;
    
}
